
{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}
<style>
	body {
		background-color: #f7f7f7;
	}

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 60px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .nav-link {
    font-weight: 500;
    color: #f1f1f1 !important;
  }

  .nav-link:hover {
    color: #fff !important;
  }

  .nav-link.active {
    color: #fff !important;
    font-weight: 700;
    background-color: #28a745;
  }

  .content {
    margin-top: 60px;
  }

  .card {
    border: none;
    border-radius: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .alert {
    border-radius: 0;
  }

  .alert i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  .btn-secondary:focus {
    box-shadow: none;
  }
</style>

<div class="container-fluid" >
  <div class="row">
    <nav class="col-md-2  bg-dark sidebar ">
      <div class="sidebar-sticky ">
        <h3 class="text-white mb-4">HealthGuard</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home'  %}">Page d'accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Alerte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'historique' famille.id %}">Historique</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="col-md-10 ml-sm-auto">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-body">
          <h2 class="card-title mb-4 text-center">Alerte</h2>
          <div class="alert alert-secondary" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            <span class="font-weight-bold">&#9888;Chute detectée:</span> {{ data }} . Veuillez intervenir rapidement !
          </div>
        </div>
      </div>
      <div class="chart-container" style="margin: 2cm;">
        {{ chart | safe }}
      </div> 
    </div>
    
    
  </div>
</div>








{% endblock %}
